**/.DS_Store
**/__pycache__

# Do not store data
data/0_raw/*
!data/0_raw/.gitkeep
data/1_data_split/*
!data/1_data_split/.gitkeep
data/vocabularies/*
!data/vocabularies/.gitkeep

# Exclude notebooks
notebooks/*
